body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend-img {
  position: absolute;
  opacity: 0.3;
  top: 80px;
  width: 100%;
  height: 100vh;
  background-image: url('/images/logo-bg.jpg');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-card {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.intro-card h1 {
  font-size: 11vw;
  margin-top: 30px;
}

.intro-card h1 span {
  color: #63bd63;
}

.intro-card p {
  margin-top: 8vw;
  margin-bottom: 30px;
  font-weight: bold;
}

.more-info {
  margin-top: 30px;
  border-radius: 30px;
  width: fit-content;
  padding: 10px 40px;
  border: none;
}
.services {
  width: 100%;
  text-align: center;
  font-size: 35px;
}

.activity {
  height: fit-content;
  background-color: rgba(31, 31, 31, 0.5);
}

.activities {
  width: 100%;
  display: grid;
  height: fit-content;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 30px;
  row-gap: 40px;
  justify-content: center;
  box-sizing: border-box;
  padding: 50px 0px;
}
.acts {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
}
.acts h2 {
  margin: 0px;
  font-size: 20px;
}

@media (max-width: 650px) {
  .activities {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 100px;
    justify-content: center;
  }
}

@media (min-width: 650px) {
  /* .intro-section {

  } */
  .intro-card {
    padding: 0px;
    gap: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: left;
  }
  .intro-card h1 {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .intro-card p {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .legend-img {
    position: absolute;
    opacity: 0.1;
  }
}

.know-more {
  width: 100%;
  padding: 30px;
  position: fixed;
  bottom: 0px;
  background-color: black;
  color: white;
  display: none;
}
